{% extends "base.html" %}
{% block title %}Audit or Confirm?{% endblock %}
{% block body %}
<h1>Would you like to AUDIT or CONFIRM your vote?</h1>

<h3>Vote Receipt:</h3>
<p>Below is a receipt of your vote; you should copy and paste it into a text file so that you can verify its data later on.</p>
<p>You can either AUDIT your vote which will cancel your vote and take you back to the question, but showing the choice you made so that you can verify that it was recorded as cast.</p>
<p>Or, you can CONFIRM your vote, which will submit your vote and update the tally for your chosen candidate and then take you to the next question with a new receipt.</p>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <h3>Errors:</h3>
        <ul class="errors">
        {% for msg in messages %}
            <li>{{ msg }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="stage-one">
    <h1>VOTING STAGE ONE</h1>
    <h2>Election ID: {{ session['receipt']['election_id'] }}</h2>
    <table>
        <tr>
            <th>Ballot ID</th>
            <th>Question ID</th>
            <th>Choice</th>
            <th>Z</th>
            <th>R</th>
            <th>C1</th>
            <th>C2</th>
            <th>R1</th>
            <th>R2</th>
            <th>Num C</th>
            <th>Num R</th>
            <th>Audited?</th>
            <th>Secret</th>
            <th>Voted?</th>
        </tr>
        {% for i in range(num_choices) %}
            {% with row = session['receipt']['choices'][i] %}
                <tr>
                    <td>{{ session['receipt']['ballot_id'] }}</td>
                    <td>{{ session['receipt']['question_id'] }}</td>
                    <td>{{ row['choice'] }}</td>
                    <td>{{ row['Z'] }}</td>
                    <td>{{ row['R'] }}</td>
                    <td>{{ row['c_1'] }}</td>
                    <td>{{ row['c_2'] }}</td>
                    <td>{{ row['r_1'] }}</td>
                    <td>{{ row['r_2'] }}</td>
                    <td>{{ session['receipt']['num_proof_c'] }}</td>
                    <td>{{ session['receipt']['num_proof_r'] }}</td>
                    <td>UNDECIDED</td>
                    <td>HIDDEN</td>
                    <td>HIDDEN</td>
                </tr>
            {% endwith %}
        {% endfor %}
    </table>
</div>

<form action="" method="post">
    {{ form.csrf_token }}
    {{ form.audit() }}
    {{ form.confirm() }}
</form>

{% endblock %}