{% extends "base.html" %}

{% block title %}{% if audited %}AUDITED{% else %}CONFIRMED{% endif %}{% endblock %}

{% block body %}

{% if audited %}
<h2>Your vote has been AUDITED. Your choice has been shown below, please verify that it was indeed the choice(s) that you made. Since you audited this ballot, you will be sent back to the question you just voted for, where you can submit another vote and either audit it again, or confirm it and move on with the election.</h2>
{% else %}
<h2>Your vote has been CONFIRMED. Your choices were added to the tally for the respective candidate(s), and then the vote secrets were securely deleted. Below is the final receipt for your ballot which you can check on the link below; once you have confirmed that it has been recorded, click the button to get sent to the next question.</h2>
{% endif %}

<h3>If there is an issue, please contact: {{ contact }}</h3>

<div>
    <h1>VOTING STAGE ONE:</h1>
    <h2>Election ID: {{ election_id }}</h2>
    <h2>Question ID: {{ session['receipt']['question_id'] }}</h2>
    <h2>Ballot ID: {{ session['receipt']['ballot_id'] }}</h2>
    <h2>Receipt:</h2>
    <h2>{{ pretty_hash }}</h2>
    
    <h1>VOTING STAGE TWO:</h1>
    {% if audited %}
        <h2>Ballot AUDITED</h2>
        <h2>Choice(s): {{ session['choices'] }}</h2>
    {% else %}
        <h2>Ballot CONFIRMED</h2>
        <h2>Choice(s): DELETED</h2>
    {% endif %}
    
    <h3>Visit <a href="{{ url_for('results', election_id=election_id) }}">the bulletin board</a> to check that your receipt has been stored!</h3>
</div>

<form action="" method="post">
    {{ form.csrf_token }}
    {{ form.submit() }}
</form>

{% endblock %}