{% extends "base.html" %}
{% block title %}Bulletin{% endblock %}
{% block body %}
<h1>Bulletin for Election: {{ election.title }}</h1>

<div>
    <h2>Election Results:</h2>
        {% for question in election.questions %}
            <div>
                <h3>{{ question.query }}</h3>
                {% for d in totals[question.question_id]['choices'] %}
                    <h4>  Choice: {{ d['choice'] }}</h4>
                    <h4>    Total votes: {{ d['tally'] }}</h4>
                    <h4>    Secret sum: {{ d['sum'] }}</h4>
                {% endfor %}
            </div>
            </br>
        {% endfor %}
</div>

<div class="bulletin">
    <h1>BALLOTS:</h1>
    <table>
        <tr>
            <th>Ballot ID</th>
            <th>Question ID</th>
            <th>Choice</th>
            <th>Z</th>
            <th>R</th>
            <th>C1</th>
            <th>C2</th>
            <th>R1</th>
            <th>R2</th>
            <th>Num C</th>
            <th>Num R</th>
            <th>Audited?</th>
            <th>Secret</th>
            <th>Voted?</th>
        </tr>
        {% for receipt in receipt_list %}
            {% for i in range(totals[receipt['question_id']]['num_choices']) %}
                {% with row = receipt['choices'][i] %}
                    <tr>
                        <td>{{ receipt['ballot_id'] }}</td>
                        <td>{{ receipt['question_id'] }}</td>
                        <td>{{ row['choice'] }}</td>
                        <td>{{ row['Z'] }}</td>
                        <td>{{ row['R'] }}</td>
                        <td>{{ row['c_1'] }}</td>
                        <td>{{ row['c_2'] }}</td>
                        <td>{{ row['r_1'] }}</td>
                        <td>{{ row['r_2'] }}</td>
                        <td>{{ receipt['num_proof_c'] }}</td>
                        <td>{{ receipt['num_proof_r'] }}</td>
                        {% if receipt['state'] == 'AUDITED' %}
                            <td class="audit">AUDITED</td>
                            <td class="audit">{{ row['r'] }}</td>
                            <td class="audit">{{ row['voted'] }}</td>
                        {% else %}
                            <td class="confirm">CONFIRMED</td>
                            <td class="confirm">{{ row['r'] }}</td>
                            <td class="confirm">{{ row['voted'] }}</td>
                        {% endif %}
                    </tr>
                {% endwith %}
            {% endfor %}
        {% endfor %}
    </table>
</div>
{% endblock %}