{% extends "base.html" %}
{% block title %}Confirm{% endblock %}
{% block body %}
<h1>Confirm Election Details</h1>

<h2>Start date: {{ election.str_start_time }}</h2>
<h2>End date: {{ election.str_end_time }}</h2>

<h2>Election ID: {{ election.election_id }}</h2>
<h2>Title: {{ election.title }}</h2>
<h2>Election Contact: {{ election.contact }}</h2>

{% for question in questions %}
    <div class="confirm-question">
        <h3>Question: {{ question.query }}</h3>
        <h3>Number of choices: {{ question.max_answers }}</h3>
        <div class="confirm-choice">
            <ol>
            {% for choice in question.choices %}
                <li>{{ choice }}</li>
            {% endfor %}     
            </ol>
        </div>
    </div>
{% endfor %}
<div class="row">
    <a href="{{ url_for('create') }}"><div class="btn">Back</div></a>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="btn">{{ form.submit() }}</div>
    </form>
</div>

{% endblock %}