{% extends "base.html" %}
{% block title %}Confirm{% endblock %}
{% block body %}
<h1>Create an Election</h1>

<h3>Confirm details:</h3>
<div id="details">
    <h4>Start date/time: {{ election.str_start_time }}</h4>
    <h4>End date/time: {{ election.str_end_time }}</h4>
    
    <h4>ID: {{ election.election_id }}</h4>
    <h4>Title: {{ election.title }}</h4>
    <h4>Election Contact: {{ election.contact }}</h4>
    
    {% for question in questions %}
        <div class="confirm-question">
            <h5>Question: {{ question.query }}</h5>
            <h5>Number of choices: {{ question.max_answers }}</h5>
            <div class="confirm-choice">
                <ol>
                {% for choice in question.choices %}
                    <li>{{ choice }}</li>
                {% endfor %}     
                </ol>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <button onclick="window.location.href='{{ url_for('create') }}'" class="btn" type="button">Back</button>
        <form action="" method="post">
            {{ form.csrf_token }}
            {{ form.submit() }}
        </form>
    </div>
</div>

{% endblock %}