{% extends "base.html" %}
{% block title %}Create{% endblock %}
{% block script %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='form.js') }}" async></script>{% endblock %}
{% block body %}
<h1>Create an Election</h1>

<p>To create an election there are a few things that you need to do:</p>
<ol>
    <li>Set the start and end dates for the election.</li>
    <li>Write the questions and answers.</li>
    <li>Upload an XML file containing the data for all the voters in the election.</li>
</ol>



<form enctype="multipart/form-data" action="" method="post">
    <div>
        {{ form.csrf_token }}
    </div>
    {% for error in errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
    
    <h3>When is the election happening?</h3>
    <div class="row date">
        {{ form.start_year.label() }}
        {{ form.start_year(maxlength="4", class_="quad", placeholder="YYYY") }}-{{ form.start_month(maxlength="2", class_="double", placeholder="MM") }}-{{ form.start_day(maxlength="2", class_="double", placeholder="DD") }} {{ form.start_hour(maxlength="2", class_="double", placeholder="HH") }}:{{ form.start_mins(maxlength="2", class_="double", placeholder="mm") }}:{{ form.start_secs(maxlength="2", class_="double", placeholder="ss") }}
    </div>
    <div class="row date">
        {{ form.end_year.label() }}
        {{ form.end_year(maxlength="4", class_="quad", placeholder="YYYY") }}-{{ form.end_month(maxlength="2", class_="double", placeholder="MM") }}-{{ form.end_day(maxlength="2", class_="double", placeholder="DD") }} {{ form.end_hour(maxlength="2", class_="double", placeholder="HH") }}:{{ form.end_mins(maxlength="2", class_="double", placeholder="mm") }}:{{ form.end_secs(maxlength="2", class_="double", placeholder="ss") }}
    </div>
    <h3>What are the questions?</h3>
    <div id="election-box">
        {{ form.title.label() }}
        {{ form.title(placeholder="General Election 2024") }}
        <div id="1" class="question-box">
            {{ form.query_1.label() }}
            {{ form.query_1(placeholder="Select your desired candidate.") }}
            <div class="choice-box">
                {{ form.choice_1_1.label() }}
                {{ form.choice_1_1(placeholder="Candidate Name") }}
            </div>
            <div class="choice-box">
                {{ form.choice_1_2.label() }}
                {{ form.choice_1_2(placeholder="Candidate Name") }}
            </div>
            <button class="btn disabled delete-choice" type="button">DELETE</button>
            <button class="btn new-choice" type="button">+</button>
            {{ form.maxanswers_1.label() }}
            {{ form.maxanswers_1() }}
        </div>
    </div>
    <button id="delete-question" class="btn disabled" type="button">DELETE</button>
    <button id="new-question" class="btn" type="button">+</button>
    
    <h3>Who can vote in it?</h3>
    <div id="file-upload">
        {{ form.file.label() }}
        {{ form.file() }}
        {{ form.delimiter.label() }}
        {{ form.delimiter(maxlength="1", class_="double", placeholder=',') }}
    </div>
    <div class="btn">{{ form.submit() }}</div>
</form>

The XML file is required so that the data for each voter can be added to the database with their name and email address to be used to distribute their login codes before the election.

{% endblock %}