{% extends "base.html" %}
{% block title %}Create{% endblock %}
{% block script %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='form.js') }}" async></script>{% endblock %}
{% block body %}
<h1>Create an Election</h1>

<!-- As much as I wanted pure Flask + WTForms, a dynamic form requires some jQuery :( -->
<h3>Enter the questions and choices for this election:</h3>
<form action="" method="post">
    <div id="election-box">
        {{ form.title.label() }}
        {{ form.title(placeholder="General Election 2024") }}
        <div id="1" class="question-box">
            {{ form.query_1.label() }}
            {{ form.query_1(placeholder="Select your desired candidate.") }}
            <div class="choice-box">
                {{ form.choice_1_1.label() }}
                {{ form.choice_1_1(placeholder="Candidate Name") }}
            </div>
            <div class="choice-box">
                {{ form.choice_1_2.label() }}
                {{ form.choice_1_2(placeholder="Candidate Name") }}
            </div>
            <button class="btn disabled delete-choice" type="button">DELETE</button>
            <button class="btn new-choice" type="button">+</button>
            {{ form.maxanswers_1.label() }}
            {{ form.maxanswers_1() }}
        </div>
    </div>
    <button id="delete-question" class="btn disabled" type="button">DELETE</button>
    <button id="new-question" class="btn" type="button">+</button>
    {{ form.submit() }}
</form>

{% endblock %}