{% extends "base.html" %}
{% block title %}Create{% endblock %}
{% block body %}
<h1>Create an Election</h1>

<p>To create an election there are a few things that you need to do:</p>
<ol>
    <li>Set the start and end dates for the election.</li>
    <li>Write the questions and answers.</li>
    <li>Upload an XML file containing the data for all the voters in the election.</li>
</ol>


<h3>When is the election happening?</h3>
<form action="" method="post">
    <div>
        {{ form.csrf_token }}
    </div>
    {% for error in form.form_errors %}
        <div class="error">{{ error }}</div>
    {% endfor %}
    <div class="row date">
        {{ form.start_year.label() }}
        {{ form.start_year(maxlength="4", class_="quad", placeholder="YYYY") }}-{{ form.start_month(maxlength="2", class_="double", placeholder="MM") }}-{{ form.start_day(maxlength="2", class_="double", placeholder="DD") }} {{ form.start_hour(maxlength="2", class_="double", placeholder="HH") }}:{{ form.start_mins(maxlength="2", class_="double", placeholder="mm") }}:{{ form.start_secs(maxlength="2", class_="double", placeholder="ss") }}
    </div>
    <div class="row date">
        {{ form.end_year.label() }}
        {{ form.end_year(maxlength="4", class_="quad", placeholder="YYYY") }}-{{ form.end_month(maxlength="2", class_="double", placeholder="MM") }}-{{ form.end_day(maxlength="2", class_="double", placeholder="DD") }} {{ form.end_hour(maxlength="2", class_="double", placeholder="HH") }}:{{ form.end_mins(maxlength="2", class_="double", placeholder="mm") }}:{{ form.end_secs(maxlength="2", class_="double", placeholder="ss") }}
    </div>
    <div class="btn">{{ form.submit() }}</div>
</form>
// we should have a "confirm" screen after a successful input where we convert the dates to long-form and show all the election questions

The XML file is required so that the data for each voter can be added to the database with their name and email address to be used to distribute their login codes before the election.

{% endblock %}