{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<h1>About DRE-ipy</h1>

<p>DRE-ipy is a free and open-source implementation of the Direct Recording Electronic with Integrity and Enforced Privacy (DRE-ip) protocol written using Python 3 and Flask. It has added various features on top of previous implementations of DRE-ip in order to make it more usable, including:</p>
<ol>
    <li>Allowing for multiple-choice questions.</li>
    <li>Letting elections have more than one question.</li>
    <li>Providing basic data visualisation for the results after the election.</li>
</ol>

<p>For questions about how DRE-ip works and the security of DRE-ip, please look at the Frequently Asked Question section below.</p>

<h3>Frequently Asked Questions:</h3>

<ol>
    <li>What is DRE-ip?</li>
    <li>How does an election work?</li>
    <li>How can I know that my vote was counted?</li>
    <li>What do I do if my vote was recorded incorrectly?</li>
    <li>I've found a bug, how can I report it?</li>
</ol>
{% endblock %}