{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<h1>Logging into Election ID: {{ election_id }}</h1>

<h3>If there is an issue, please contact: {{ contact }}</h3>

<h3>Please enter your details to vote in this election</h3>
<form action="" method="post">
    {{ form.hidden_tag() }}
    
    <div class="question-box">
        {{ form.email.label() }}
        {{ form.email() }}
    </div>
    
    <div class="question-box">
        {{ form.code.label() }}
        {{ form.code() }}
    </div>
    
    <div class="btn">
        {{ form.submit() }}
    </div>
</form>

{% endblock %}