{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block body %}
<h1>Welcome to DRE-ipy!</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <h3>Messages:</h3>
        <ul class="errors">
        {% for msg in messages %}
            <li>{{ msg }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<h3>Vote in (or view) an existing election:</h3>
<div class="btn"><a href="{{ url_for('view') }}">Find an Election</a></div>

<h3>Create a new election:</h3>
<div class="btn"><a href="{{ url_for('create') }}">Create</a></div>

{% endblock %}