{% extends "base.html" %}
{% block title %}Vote{% endblock %}
{% block body %}
<h1>Vote in (or view) an Election</h1>

<p>Please enter the 6-digit ID for an election:</p>
<form action="" method="post">
    <label for="input_id">Election ID:</label>
    <input type="text" id="input_id" name="input_id"/>
</form>

// while the user types their code, we want to filter the different elections that have been made -- even if the election is ended, show it and let the user know that the election either has not started yet, or has closed

// even if it is closed, they can still view it with its results or just the start/end times (+ questions)

{% endblock %}