{% extends "base.html" %}
{% block title %}Vote{% endblock %}
{% block body %}
<h1>Vote</h1>

<h3>If there is an issue, please contact: {{ contact }}</h3>

<form action="" method="post">
    {{ form.csrf_token }}

    {% if form.expected_choices > 1 %}
        {{ form.q_multi_choice.label() }}
        {{ form.q_multi_choice() }}
    {% else %}
        {{ form.q_single_choice.label() }}
        {{ form.q_single_choice() }}
    {% endif %}
    
    <div class="btn">{{ form.submit() }}</div>
</form>
{% endblock %}