:root {
  --main-bg-color: #eeeeee;
  --error-bg-color: #993333;
  --nav-bg-color: #333399;
  --nav-fg-color: #ffffff;
}

#flashes ul {
    list-style-type: '-- ';
}

.error {
    color: var(--error-bg-color);
}

.info {
    color: var(--nav-bg-color);
}

body {
    margin: 0px;
    font-family: system-ui;
    background-color: var(--main-bg-color);
}

a {
    color:inherit;
}

#navbar {
    margin: 0px;
    padding: 25px;
    background-color: var(--nav-bg-color);
    color: var(--nav-fg-color);
    font-size: 20px;
}

.btn {
    padding: 5px 8px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}

#submit {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#audit {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#confirm {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#main {
    margin: 25px;
}

#create-form .btn.disabled {
    background-color: var(--error-bg-color);
    color: var(--nav-fg-color);
    border: 1px solid var(--error-bg-color);
}

#create-form .btn.disabled:hover {
    background-color: var(--nav-fg-color);
    color: var(--error-bg-color);
}

#main .btn {
    background-color: var(--nav-bg-color);
    color: var(--nav-fg-color);
    border: 1px solid var(--nav-bg-color);
    font-size: 15px;
}

#main .btn:hover {
    background-color: var(--nav-fg-color);
    color: var(--nav-bg-color);
}

#view_election .btn.disabled {
    background-color: var(--error-bg-color);
    color: var(--nav-fg-color);
    border: 1px solid var(--error-bg-color);
}

#view_election .btn.disabled:hover {
    background-color: var(--nav-fg-color);
    color: var(--error-bg-color);
}

#view_election {
    padding: 25px;
}

#q_multi_choice {
    list-style-type: none;
}

#q_single_choice {
    list-style-type: none;
}

td {
    text-align: center; 
    vertical-align: middle;
}

.date {
    margin: 5px;
}

.question-box {
    margin: 10px 0px;
}

.contact-box {
    margin: 10px 0px;
}

.answer-box {
    margin: 5px 0px;
}

.choice-box {
    margin: 5px;
}

.double {
    width: 3ch;
}

.quad {
    width: 6ch;
}

.row-fluid{
    display: flex;
    align-items: center;
}

button {
    background-color: #666666;
}

.disabled{
    pointer-events: none;
}

/* tab code from: https://codepen.io/Merri/details/DWmQGQ*/

.tab-wrap {
  font-size: 0;
  margin: 25px 0;
}

.tab-wrap:after {
  clear: both;
  content: '';
  display: table;
}

.tab-wrap .tab {
  display: inline;
}

.tab-wrap .tab-label {
  background: #eee; 
  border: 1px solid #ccc; 
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  left: 1px;
  margin-left: -1px;
  padding: 10px; 
  position: relative;
  vertical-align: bottom;
}

.tab-wrap .tab > [type="radio"] {
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  position: fixed;
  width: 1px;
  z-index: -1;
}

.tab-wrap .tab-panel {
  display: inline;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}

.tab-wrap .tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background: white;
  padding: 0 20px;
  border: 1px solid #ccc;
  float: left;
  font-size: 16px;
  font-size: 1rem;
  margin-top: -1px;
  width: 100%;
}

.tab-wrap .tab [type="radio"]:checked + .tab-label {
  background: white;
  border-bottom-width: 0;
  padding-bottom: 11px;
  z-index: 1;
}

.tab-wrap .tab [type="radio"]:checked ~ .tab-panel {
  display: inline;
}