
td {
    text-align: center; 
    vertical-align: middle;
}

.stage-one {
    background-color: #993333;
    color: #ffffff;
}

.stage-two {
    background-color: #333399;
    color: #ffffff;
}

.double {
    width: 3ch;
}

.quad {
    width: 6ch;
}

.row-fluid{
    display: flex;
    align-items: center;
}

button {
    background-color: #666666;
}

.disabled{
    pointer-events: none;
}

/* tab code from: https://codepen.io/Merri/details/DWmQGQ*/

.tab-wrap {
  font-size: 0;
  margin: 25px 0;
}

.tab-wrap:after {
  clear: both;
  content: '';
  display: table;
}

.tab-wrap .tab {
  display: inline;
}

.tab-wrap .tab-label {
  background: #eee; 
  border: 1px solid #ccc; 
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  left: 1px;
  margin-left: -1px;
  padding: 10px; 
  position: relative;
  vertical-align: bottom;
}

.tab-wrap .tab > [type="radio"] {
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  position: fixed;
  width: 1px;
  z-index: -1;
}

.tab-wrap .tab-panel {
  display: inline;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}

.tab-wrap .tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background: white;
  padding: 0 20px;
  border: 1px solid #ccc;
  float: left;
  font-size: 16px;
  font-size: 1rem;
  margin-top: -1px;
  width: 100%;
}

.tab-wrap .tab [type="radio"]:checked + .tab-label {
  background: white;
  border-bottom-width: 0;
  padding-bottom: 11px;
  z-index: 1;
}

.tab-wrap .tab [type="radio"]:checked ~ .tab-panel {
  display: inline;
}